/* === 全体の基本設定 === */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 16px;
  text-align: center;
  background: #f9f9f9;
  font-size: 45px;
}

h2, h3 {
  margin: 16px 0 8px;
}

/* === 入力フォーム全般 === */
input[type="number"],
input[type="text"]{
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  background: #f9f9f9;
}

select {
  width: 100%;
  height: 100%;
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  border: none;
  outline-color: #CC91A2;
  background: #f9f9f9;
}
select option {
  font-size: 15px;
  outline-color: #CC91A2;
}

.loadZipName {
  text-align: left;
  width: 100%;
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 50px;
  border: 10px;
  white-space: nowrap;
  align-items: center;
}
.loadZipName text {
  font-size: 20px;
}
.loadZipName select {
  width: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  border:2px solid #CC91A2;
  padding: 10px;
  padding-left: 5px;
  padding-right: 20px;
}
loadZipName option {
  width: auto;
  text-align: left;
  padding: 0;
  transform: translate3d(-80px,0,0);
  font-size: 13px;
}

/*デバッグボタンの非表示*/
.debug{
  display: none;
}

button,
.download-button {
  display: inline-block;
  font-size: 35px;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin: 6px;
  border: 2px solid #8db6cf;
  color: #8db6cf;
  background: #ffffff;
  transition: 0.3s;
}


button:hover,
.download-button:hover {
  background: #8db6cf;
  color: #ffffff;
}
.saveButton {
  border: 2px solid #6c83c9;
  color: #ffffff;
  background: #8db6cf;
  margin-top: 30px;
}
.saveButton:hover {
  background: #6c83c9;
  color: #ffffff;
}
.deleteDataButton {
  border: 2px solid #CC91A2;
  color: #CC91A2;
}
.deleteDataButton:hover {
  background: #CC91A2;
  color: #ffffff;
}

.download-button.text {
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

.file-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #CC91A2;
  color: #ffffff;
  border-radius: 0px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  transform: translate3d(0,-5px,0);
  margin-left: 20px;
}

/* 本来のファイル選択を非表示 */
.file-btn input[type="file"] {
  display: none;
}

table {
  width: 90%;
  margin: 0 auto; 
  border-collapse: collapse;
  background: #e0e0e0;  
}

th {
  border: 1px solid #000000;
  color: #ffffff;
  font-size: 35px;
  background: #8db6cf;
}
td {
  border: 1px solid #000000;
  font-size: 35px;
  padding: 0;
  position: relative;
}
td input,
td select {
  width: 95%;
  height: auto;
  border: none;
  outline: none;
  margin: 3px;
  padding: 0 6px;
  box-sizing: border-box; 
  align-items: center; 
  line-height: 1;
  background: #e0e0e0;
}
td input[type="text"] {
  background: #e0e0e0;
}
/* レアリティ名編集input */
td input[type="text"][name="editRarityDisplayNameForm"] {
  text-align: left; 
  font-size: 35px;
  padding-left: 10px;

}
/* 確率編集input */
td input[type="number"][name="editRarityProbabilityForm"] {
  width: 70%;
  font-size: 35px;
  border: none;
  padding-left: 10px;
  margin: 5px;
  background: #e0e0e0;
}


.ProbabilityWrapper::after {
  content: "%";
  position: absolute;
  right: 10px;
  transform: translate3d(-145px,-48px,0px);
  font-size: 35px;
  color: #323232;
}
td .plus {
  position: absolute;
  width: 40px;         
  height: 40px;  
  right: 0;
  top: 50%;
  margin: 0%;
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 1;
  transform: translate3d(-50px,-20px,0);
  margin: 0px;
  border: 1px solid #80b6cf; 
}
td .minus {
  position: absolute;
  padding: 0px;
  padding-bottom: 5px;
  width: 40px;         
  height: 40px;
  right: 0;
  top: 50%;
  margin: 5px;    
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 1;  
  transform: translate3d(0px,-25px,0);
  font-size: 45px;
  border: 1px solid #80b6cf; 
}

.lineupNum {
  display: flex;   
  text-align: left; 
  margin-left: 50px; 
  box-sizing: border-box;
  height: 75px;
}
.lineupNum input {
  width: 100px;
  height: 75px;
  text-align: left; 
  font-size: 50px;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.lineupNumButton {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
  margin-bottom: 5px;
  transform: translate3d(0,-5px,0);
}
.lineupNum .plus, .minus{
  width: 65px;
  height: 65px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #8db6cf;
  background: #ffffff;
  font-size: 35px;
  line-height: 1;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.lineupNum .minus {
  font-size: 45px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.lineupNum .plus:hover {
  background: #8db6cf;
  color: #ffffff;
}
.rarityNum {
    display: flex;
    text-align: left;
    margin-left: 50px;
    box-sizing: border-box;
    height: 60px;
}
.rarityNum select {
  width: 150px;
  height: 50px;
  font-size: 45px;
  transform: translate3d(0,13px,0);
  margin-left: 15px;
}

/* === テーブルが画面外にはみ出さないように === */
.table-container {
  width: 100%;
  overflow-x: auto;
}

/* Tweet ボタン隠れててもズレ防止 */
#tweetButton[hidden] {
  display: none;
}

/* チェックボックス全体 */
.checkbox {
  width: 650px;
  margin-left: 50px;
  display: flex;
  grid-template-columns: auto 1fr; /* auto はアイコン、1fr はラベル文字列を想定 */
  gap: 10px;
  padding: 5px;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.5;
  color: #404040;
  justify-content: flex-end;
}

.radio {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 30px;
  justify-content: flex-end;
  width: 550px;
  margin-left: 140px;
  display: flex;
  grid-template-columns: auto 1fr; 
  gap: 10px;
  padding: 5px;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.5;
  justify-content: flex-end;
    color: #404040;
} 

/* チェックされたラジオボタン内側のスタイル */
input[type="radio"]::before {
  background-color: #CC91A2;
  border-radius: 50%;
  bottom: 0;
  content: "";
  height: 14px;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
}
/* チェックされたらラジオボタン内側を表示 */
input[type="radio"]:checked::before {
  opacity: 1;
}
/* デフォルトのラジオボタンのスタイル */
input[type="radio"] {
  appearance: none; /* デフォルトのスタイルを消す */
  border: 1px solid #CC91A2;
  border-radius: 50%;
  height: 20px;
  left: 5px; /* ラジオボタンとラベルの余白 */
  margin: 0;
  position: relative;
  width: 20px;
  order: 2;
}
.checkbox_icon {
  position: relative;
  width: 26px;
  height: 26px;
  appearance: none;
  background: #FFFFFF;
  border: solid 2px #808080;
  border-radius: 4px;
  box-shadow: 0 0 0 0 transparent;
  transform: translate3d(0,8px,0);
  display: inline-block;
  justify-self: flex-end;
  /* アイコン：選択済みの見た目 */
  &:checked {
    background: #CC91A2;
    border-color: #CC91A2; 
  }

  /* チェックマーク */
  &::before {
    position: absolute;
    inset: 0;
    display: inline-flex;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    mask-image: url("icon.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: #FFFFFF;
  }
  /* チェックマーク：選択済みの見た目 */
  &:checked::before {
    opacity: 1;
  }
}
.lineupTable {
  margin-bottom: 20px;
}
.resultTable {
  margin-bottom: 10px;
}
.gachaCount input {
  width: 124px;
  height: auto;
  font-size: 45px;
  background-color: #f9f9f9;
  border: solid 2px #CC91A2;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  transform: translate3d(0px,-3px,0px);
  padding-right: 5px;
}
input#gachaName {
  border: 2px solid #CC91A2;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 4px 8px;
  outline: none;
  margin-bottom: 15px;
}
button#gachaCustom {
  margin: 14px;
}

details.terms {
  margin-bottom: 16px;
  margin-top: 25px;
  cursor: pointer;
}

details.terms summary {
  font-size: 40px;
}

details.terms .terms-content {
  width: 95%;
  margin: 10px auto; 
  margin-left: 40px;
  text-align: center;
  border: 2px solid #CC91A2;
  font-size: 25px;
}
details.terms .terms-content p {
  display: inline-flex;
  font-size: 25px;
  margin: 0;
  margin-bottom: 15px;
}
.terms-list {
  padding: 0;
  margin: 0 0 10px 0;
}

.terms-content ul{
  white-space: initial;
  text-align: left;  
  padding-inline-start: 5px;
}
.terms-content li {
  list-style: none;
  font-size: 20px;
  padding-right: 20px;
}
/* .sort-option-group {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-right: 20px; 
} */